/* SPDX-License-Identifier: AGPL-3.0-or-later */

.messageIcon {
	height: 1rem;
	width: 1rem;
}

.previewInteractive {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	outline: none;
}

.messageButtonWrapper {
	width: 100%;
}

.profileCustomStatus {
	display: flex;
	align-items: center;
	gap: 0.35rem;
}

.profileCustomStatusText {
	font-size: 0.75rem;
	line-height: 1rem;
	color: var(--text-primary-muted);
}

.profileCustomStatus:hover .profileCustomStatusText {
	--emoji-show-animated: 1;
}

.mainProfileButton {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	background: var(--button-secondary-fill);
	border-radius: var(--radius-lg);
	padding: 0.5rem;
	cursor: pointer;

	&:hover {
		background: var(--button-secondary-active-fill);
	}

	&.mainProfileMobileButton {
		background: var(--background-secondary-alt);
		justify-content: stretch;
	}
}

.mainProfileButtonAvatar {
	margin: 0.3rem 0;
  margin-inline-start: 0.4rem;
}

.mainProfileLabelContainer {
	display: flex;
	flex-direction: column;
	gap: 0;
}

.mainProfileHint {
	font-size: smaller;
	opacity: 70%;
}

.mainProfileName {
	font-weight: bold;
}
