.footerHintText {
	color: var(--text-primary-muted);
  font-size: 0.75rem;
  line-height: 1rem;
}
.unsavedChangesWarning {
	text-align: start;
	flex: 1;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 1.25rem;
}
.deleteButton {
	margin-inline-end: auto;
}
